/** 
Sidebar styles 
version: 1.0.0
**/
/** mixins for resposnive breakpoints **/
/** colors variables **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --primary-color: #2258BF;
  --bg-color: #FAFAFA;
  --color-white: #ffffff;
  --border-color: #EAECF0;
  --heading-color: #252729;
  --text-gray: #818181;
  --black-color: #000000;
  --nav-color: #342E59;
  --nab-bg-color: #E5EEFF;
  --primary-font: "Poppins", system-ui;
}

/* essential fonts **/
/** typography **/
body {
  padding: 0;
  background: var(--bg-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3 {
  font-weight: 700;
}

/** main page styles **/
main {
  padding-left: 280px;
  background: var(--bg-color);
  display: block;
  padding-top: 120px;
}
@media (max-width: 767.98px) {
  main {
    padding-left: 0;
  }
}

.top-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  background: var(--color-white);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  z-index: 50;
}
@media (max-width: 1599px) {
  .top-nav {
    height: 98px;
  }
}

/** common classes **/
.z-2 {
  z-index: 2;
}

.z--1 {
  z-index: -1;
}

.z-5 {
  z-index: 5;
}

aside.sidebar {
  width: 345px;
  position: fixed;
  top: 128px;
  left: 13px;
  bottom: 13px;
  height: calc(100vh - 141px);
  background: var(--color-white);
  box-shadow: 18px 4px 35px rgba(0, 0, 0, 0.02);
  z-index: 1212;
  border-radius: 20px;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  display: inline-block;
}
aside.sidebar a:focus {
  box-shadow: inset 0 0 0 1px var(--primary-color);
}

.sidebar-toggle {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 35px;
  height: 35px;
  background: var(--color-white);
  border-radius: 50%;
  font-size: 36px;
  border: 1px solid #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  z-index: 9;
}
.sidebar-toggle.active i::before {
  content: "\e90d";
}

.bottom_shape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  display: inline-block;
  z-index: -1;
  overflow: hidden;
  border-radius: inherit;
}
.bottom_shape img {
  width: 350px;
  position: relative;
  transition: 0.3s;
  border-radius: inherit;
}

.sidebar-inner {
  position: relative;
}
.sidebar-inner .sidebar-avatar {
  padding: 29px 30px 12px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: inherit;
  border-radius: 20px 20px 0 0;
}
.sidebar-inner .sidebar-avatar::before {
  position: absolute;
  content: "";
  width: 516px;
  height: 487px;
  border-radius: 50%;
  background: rgba(32, 161, 254, 0.11);
  top: -390px;
  left: -92px;
  z-index: -1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.sidebar-inner .sidebar-avatar img {
  width: 93px;
  height: 93px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 16px;
}
.sidebar-inner .sidebar-avatar h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: var(--heading-color);
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  white-space: nowrap;
}
.sidebar-inner .sidebar-avatar h2 span {
  font-weight: 700;
}
.sidebar-inner .sidebar-avatar h6 {
  font-size: 14px;
  line-height: 21px;
  color: #9B94C1;
  font-weight: 400;
  margin: -1px 0 0 0;
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
}
.sidebar-inner .navbar-list {
  padding: 0 32px 0 20px;
  max-height: calc(100vh - 374px);
  height: calc(100vh - 374px);
  overflow-y: scroll;
  transition: overflow-y 0.3s ease;
  margin-bottom: 40px;
}
.sidebar-inner .navbar-list::-webkit-scrollbar {
  width: 0px;
}
.sidebar-inner .navbar-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.sidebar-inner .navbar-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  opacity: 0;
}
.sidebar-inner .navbar-list li {
  position: relative;
}
.sidebar-inner .navbar-list li ul.subMenu {
  padding: 0;
  list-style: none;
  margin-left: 36px;
  display: none;
}
.sidebar-inner .navbar-list li ul.subMenu li a {
  padding: 0 48px;
  font-size: 14px;
  line-height: 22px;
  min-height: 54px;
  text-decoration: none;
}
.sidebar-inner .navbar-list li ul.subMenu li a::after {
  display: none;
}
.sidebar-inner .navbar-list li ul.subMenu li.dropdown > a::after {
  display: block;
}
.sidebar-inner .navbar-list li ul.subMenu li.dropdown .subMenu {
  margin-left: 20px;
}
.sidebar-inner .navbar-list li.dropdown.active > a::after {
  content: "\e905";
  transition: opacity 0.3s ease-in;
}
.sidebar-inner .navbar-list li.dropdown.active > a:hover, .sidebar-inner .navbar-list li.dropdown.active > a {
  background: var(--nab-bg-color);
  color: var(--primary-color);
}
.sidebar-inner .navbar-list li.dropdown.active > a:hover::after, .sidebar-inner .navbar-list li.dropdown.active > a::after {
  color: var(--primary-color);
}
.sidebar-inner .navbar-list a {
  display: block;
  padding: 0 37px 0 84px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--nav-color);
  min-height: 67px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  opacity: 1;
  -moz-transition: opacity 0.6s 0.2s ease-out;
  -o-transition: opacity 0.6s 0.2s ease-out;
  -webkit-transition: opacity 0.6s 0.2s ease-out;
  transition: opacity 0.6s 0.2s ease-out;
}
.sidebar-inner .navbar-list a:hover, .sidebar-inner .navbar-list a.active {
  background: var(--nab-bg-color);
  color: var(--primary-color);
}
.sidebar-inner .navbar-list a::after {
  content: "\e90d";
  position: absolute;
  font-size: 20px;
  color: rgba(175, 175, 175, 0.3);
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
  font-family: "Tobby" !important;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
}
.sidebar-inner .navbar-list a.active::after {
  color: var(--primary-color);
}
.sidebar-inner .navbar-list a > span {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  white-space: nowrap;
}
.sidebar-inner .navbar-list a > span:first-child {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 29px;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-inner .navbar-list a > span:first-child i {
  font-size: 26px;
  transition: initial;
}
.sidebar-inner .navbar-list a > span:last-child {
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  white-space: nowrap;
}
.sidebar-inner .navbar-list a > span:last-child > span {
  margin-top: 4px;
  position: relative;
}
.sidebar-inner .navbar-list a span > small {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  display: block;
  position: relative;
  left: 0;
  top: -8px;
  color: var(--text-gray);
  white-space: nowrap;
}
.sidebar-inner .navbar-list > ul > li a::before {
  content: attr(data-title);
  position: absolute;
  left: 86%;
  bottom: 12px;
  width: auto;
  background: var(--black-color);
  font-size: 14px;
  line-height: 20px;
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 12px;
  gap: 8px;
  box-shadow: 0px 5px 10px -3.88666px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  z-index: 5;
  white-space: nowrap;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
}
.sidebar-inner .navbar-list li.question a {
  text-decoration: underline;
  color: var(--primary-color);
}
.sidebar-inner .navbar-list li.question a i {
  color: var(--nav-color);
}
.sidebar-inner .navbar-list li.question a.active i, .sidebar-inner .navbar-list li.question a:hover i {
  color: var(--primary-color);
}
.sidebar-inner .navbar-list li.question a::after {
  display: none !important;
}

aside.sidebar.active {
  width: 82px;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
aside.sidebar.active .sidebar-avatar {
  padding: 34px 19px;
  margin-bottom: 88px;
  position: relative;
  min-height: 102px;
}
aside.sidebar.active .sidebar-avatar::before {
  left: -55px;
  top: -365px;
}
aside.sidebar.active .sidebar-avatar img {
  width: 44px;
  height: 44px;
  margin: 0;
  display: none;
}
aside.sidebar.active .sidebar-avatar h2, aside.sidebar.active .sidebar-avatar h6 {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  display: none;
}
aside.sidebar.active .navbar-list {
  padding: 0px 9px 0 9px;
  margin-top: 45px;
  min-width: 260px;
}
aside.sidebar.active .navbar-list li.dropdown {
  position: relative;
  z-index: 999;
}
aside.sidebar.active .navbar-list li.dropdown > ul.subMenu {
  position: absolute;
  top: 0;
  left: 28px;
  width: 172px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--color-white);
  border-radius: 12px;
  padding: 8px;
  display: none;
}
aside.sidebar.active .navbar-list li.dropdown > ul.subMenu a {
  width: 100%;
  min-height: 42px;
  border-radius: 12px;
  padding: 0 12px;
}
aside.sidebar.active .navbar-list li.dropdown > ul.subMenu li.dropdown > a::after {
  content: "\e90d";
  display: block;
  right: 2px;
}
aside.sidebar.active .navbar-list li.dropdown > ul.subMenu ul.subMenu {
  position: relative;
  padding: 0;
  top: 0;
  left: 0;
  width: calc(100% - 12px);
  border: unset;
  margin-left: 12px;
  display: none;
}
aside.sidebar.active .navbar-list li.dropdown:hover > ul.subMenu {
  display: block;
}
aside.sidebar.active .navbar-list li.dropdown > .dropdown.active > a::after {
  transform: rotateZ(0deg);
}
aside.sidebar.active .navbar-list > ul > li.dropdown > a:after, aside.sidebar.active .navbar-list > ul > li.dropdown > a::before {
  display: none;
}
aside.sidebar.active .navbar-list > ul > li.dropdown > a::before {
  display: none !important;
}
aside.sidebar.active .navbar-list li a {
  padding: 10px;
  width: 64px;
  min-height: 65px;
  border-radius: 50%;
  min-height: 65px;
}
aside.sidebar.active .navbar-list > ul > li > a:hover::before {
  visibility: visible;
  display: block;
  opacity: 1;
}
aside.sidebar.active .navbar-list > ul > li > a::after {
  content: "";
}
aside.sidebar.active .navbar-list > ul > li > a:hover::after {
  left: 72%;
  background-image: url(../images/shapes/tooltip-arrow-shap.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0;
  width: 12px;
  height: 26px;
  content: "";
}
aside.sidebar.active .navbar-list li a span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  position: absolute;
  display: none;
}
aside.sidebar.active .navbar-list li a span:nth-child(1) {
  left: 50%;
  transform: translate(-50%, -50%);
}
aside.sidebar.active .navbar-list li.question a::after {
  display: block !important;
}

@media (min-width: 2100px) {
  aside.sidebar.active .sidebar-avatar {
    margin-bottom: 98px;
  }
  aside.sidebar.active .navbar-list {
    padding: 0 8px;
  }
}
@media (min-width: 1600px) {
  aside.sidebar.active .sidebar-avatar {
    margin-bottom: 98px;
  }
  aside.sidebar.active .navbar-list li a {
    width: 66px;
    min-height: 67px;
  }
}
@media (max-width: 1599px) {
  aside.sidebar {
    width: 264px;
    top: 104px;
    left: 10px;
    height: calc(100vh - 114px);
    border-radius: 16px;
  }
  aside.sidebar .sidebar-toggle {
    width: 30px;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar {
    padding: 18px 30px 16px;
    margin-bottom: 12px;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar::before {
    top: -400px;
    left: -78px;
    width: 410px;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar img {
    width: 70px;
    height: 70px;
    margin-bottom: 4px;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar h2 {
    font-size: 18px;
    line-height: 28px;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar h6 {
    font-size: 13px;
    line-height: 19px;
  }
  aside.sidebar .sidebar-inner .navbar-list {
    padding: 0 10px;
    max-height: calc(100vh - 310px);
    height: calc(100vh - 310px);
  }
  aside.sidebar .sidebar-inner .navbar-list li ul.subMenu li a {
    padding: 0 32px;
    font-size: 12px;
    min-height: 40px;
  }
  aside.sidebar .sidebar-inner .navbar-list a {
    padding: 0 22px 0 54px;
    font-size: 14px;
    min-height: 52px;
  }
  aside.sidebar .sidebar-inner .navbar-list a::after {
    right: 11px;
  }
  aside.sidebar .sidebar-inner .navbar-list a > span:first-child {
    left: 11px;
    width: 30px;
    height: 30px;
  }
  aside.sidebar .sidebar-inner .navbar-list a > span:first-child i {
    font-size: 22px;
  }
  aside.sidebar .sidebar-inner .navbar-list a span > small {
    font-size: 11px;
    line-height: 17px;
  }
  aside.sidebar .sidebar-inner .navbar-list > ul > li a::before {
    left: 100%;
    bottom: 4px;
    font-size: 12px;
    line-height: 18px;
    padding: 8px 12px;
  }
  aside.sidebar .sidebar-inner .navbar-list li.question a {
    font-size: 14px;
  }
  aside.sidebar.active {
    width: 72px;
  }
  aside.sidebar.active .sidebar-avatar {
    margin-bottom: 64px;
    padding: 24px 8px 22px;
  }
  aside.sidebar.active .navbar-list {
    padding: 0 10px;
    width: 72px;
  }
  aside.sidebar.active .navbar-list li.dropdown > ul.subMenu a {
    min-height: 40px;
  }
  aside.sidebar.active .navbar-list li a {
    width: 52px;
    min-height: 52px;
  }
  aside.sidebar.active .navbar-list > ul > li > a:hover::after {
    left: 89%;
    background-size: 80%;
    top: 59%;
    transition: unset !important;
  }
}
@media (max-width: 1199px) {
  aside.sidebar {
    width: 264px;
  }
  aside.sidebar .sidebar-inner .navbar-list a {
    padding: 0 18px 0 50px;
    min-height: 52px;
  }
  aside.sidebar .sidebar-inner .navbar-list a::after {
    right: 10px;
  }
  aside.sidebar .sidebar-inner .navbar-list a > span:first-child {
    left: 10px;
  }
}
@media (max-width: 1024px) {
  aside.sidebar .sidebar-inner .navbar-list a {
    padding: 0 18px 0 50px;
  }
  aside.sidebar .sidebar-inner .navbar-list a > span::after {
    right: 8px;
  }
  aside.sidebar .sidebar-inner .navbar-list a > span:first-child {
    left: 8px;
  }
}
@media (max-height: 930px) {
  aside.sidebar {
    width: 264px;
    top: 104px;
    left: 10px;
    height: calc(100vh - 114px);
    border-radius: 16px;
  }
  aside.sidebar .sidebar-toggle {
    width: 30px;
    height: 30px;
    font-size: 26px;
    font-weight: 700;
  }
  aside.sidebar .bottom_shape {
    width: 100%;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar {
    padding: 18px 30px 16px;
    margin-bottom: 12px;
    border-radius: 16px 16px 0 0;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar::before {
    top: -400px;
    left: -78px;
    width: 410px;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar img {
    width: 70px;
    height: 70px;
    margin-bottom: 4px;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar h2 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
  aside.sidebar .sidebar-inner .sidebar-avatar h6 {
    font-size: 13px;
    line-height: 19px;
  }
  aside.sidebar .sidebar-inner .navbar-list {
    padding: 0 10px;
    max-height: calc(100vh - 310px);
    height: calc(100vh - 310px);
  }
  aside.sidebar .sidebar-inner .navbar-list li ul.subMenu li a {
    padding: 0 32px;
    font-size: 12px;
    min-height: 40px;
  }
  aside.sidebar .sidebar-inner .navbar-list a {
    padding: 0 22px 0 54px;
    font-size: 14px;
    min-height: 52px;
  }
  aside.sidebar .sidebar-inner .navbar-list a::after {
    right: 11px;
  }
  aside.sidebar .sidebar-inner .navbar-list a > span:first-child {
    left: 11px;
    width: 30px;
    height: 30px;
  }
  aside.sidebar .sidebar-inner .navbar-list a > span:first-child i {
    font-size: 22px;
  }
  aside.sidebar .sidebar-inner .navbar-list a span > small {
    font-size: 11px;
    line-height: 17px;
  }
  aside.sidebar .sidebar-inner .navbar-list > ul > li a::before {
    left: 100%;
    bottom: 4px;
    font-size: 12px;
    line-height: 18px;
    padding: 8px 12px;
  }
  aside.sidebar .sidebar-inner .navbar-list li.question a {
    font-size: 14px;
  }
  aside.sidebar.active {
    width: 72px;
  }
  aside.sidebar.active .sidebar-avatar {
    margin-bottom: 64px;
    padding: 24px 8px 22px;
  }
  aside.sidebar.active .navbar-list {
    width: 72px;
    padding: 0 10px;
  }
  aside.sidebar.active .navbar-list li a {
    width: 52px;
    min-height: 52px;
  }
  aside.sidebar.active .navbar-list > ul > li > a:hover::after {
    left: 89%;
    background-size: 80%;
    top: 59%;
    transition: unset !important;
  }
}
@media (max-height: 849px) {
  aside.sidebar .sidebar-inner .navbar-list li ul.subMenu li a {
    min-height: 36px;
  }
  aside.sidebar .sidebar-inner .navbar-list a {
    min-height: 46px;
  }
  aside.sidebar .sidebar-inner .navbar-list a span > small {
    font-size: 11px;
    line-height: 17px;
  }
  aside.sidebar.active {
    width: 66px;
  }
  aside.sidebar.active .navbar-list li.dropdown > ul.subMenu a {
    min-height: 36px;
  }
  aside.sidebar.active .navbar-list li.dropdown > ul.subMenu ul.subMenu {
    left: 20px;
  }
  aside.sidebar.active .navbar-list li a {
    width: 46px;
    min-height: 46px;
  }
  aside.sidebar.active .navbar-list > ul > li > a:hover::before {
    visibility: visible;
    display: block;
    opacity: 1;
  }
  aside.sidebar.active .navbar-list > ul > li > a::after {
    content: "";
  }
  aside.sidebar.active .navbar-list > ul > li > a:hover::after {
    background-size: 80%;
    top: 54%;
  }
}
@media (max-height: 780px) {
  aside.sidebar .sidebar-inner .navbar-list a {
    padding: 0 18px 0 50px;
  }
  aside.sidebar .sidebar-inner .navbar-list a > span::after {
    right: 8px;
  }
  aside.sidebar .sidebar-inner .navbar-list a > span:first-child {
    left: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
